* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	color: white;
}

body {
	background-color: black;
}

#particle-js {
	height: 100vh;
	transform: translateY(-100%);
	display: none;
	transition: all 7s linear;
}

#starting-div {
	width: 90%;
	height: 60vh;
	margin: auto;
	margin-top: 10pc;
	text-align: center;
	color: white;
}

#starting-div p {
	margin: 10px 0;
}

#hey_u,
#shey_u,
.right-pic {
	position: fixed;
	right: -220px;
	top: 50%;
	transform: translate(-50%, -50%);
}

.left-pic {
	position: fixed;
	left: -220px;
	top: 50%;
	transform: translate(-50%, -50%);
}

#cake,
#scake {
	position: fixed;
	left: 50%;
	transform: translateX(-50%) scale(0.75);
	bottom: -200px;
	width: 200px;
}

#flower-r {
	transform: scaleX(-1);
}

#end {
	display: none;
	transform: scale(0);
	position: fixed;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 55;
}

.speech {
	display: none;
	position: fixed;
	left: 50%;
	top: 30%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

.button {
	border: none;
	width: 120px;
	height: 40px;
	border-radius: 10px;
	background-color: white;
	color: black;
	font-size: 20px;
	transition: all 0.4s ease-in-out;
}

.button:hover {
	background-color: black;
	color: white;
	border: 1px solid white;
}
